@using ViewModels;

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        @foreach (ViewArticle ar in Model)
        {
            <h2>@ar.name</h2>
            <p>
                @ar.content
            </p>
            <h3>@ar.date.ToString()</h3>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        }
    </div>

</div>